/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
}

.parent__el {
  height: 40px;
  width: 40px;
  margin: 0 auto;
}



/******************************************
/* ADDITIONAL STYLES
/*******************************************/
