/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: absolute;
  margin: 0 auto;
  height: 200px
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
